[build]
publish = "."
command = ""

[functions]
directory = "netlify/functions"
node_bundler = "esbuild"

# (Opsiyonel) SPA ise 404 yerine index.html
[[redirects]]
from = "/*"
to = "/index.html"
status = 200
