*{ box-sizing:border-box; }
html,body{ height:100%; }
a{ color:inherit; text-decoration:none; }
button,input,select,textarea{ font:inherit; }

html{ scrollbar-gutter: stable; }
body{ overflow-y: scroll; margin:0; }

body{
    font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Arial;
    color: var(--text);
    background:
            radial-gradient(1100px 500px at 20% -10%, rgba(37,99,235,.18), transparent 60%),
            radial-gradient(900px 500px at 85% 0%, rgba(132,94,247,.10), transparent 55%),
            var(--bg);
}

html[data-theme="dark"] body{
    background:
            radial-gradient(1100px 500px at 20% -10%, rgba(107,179,255,.18), transparent 60%),
            radial-gradient(900px 500px at 85% 0%, rgba(132,94,247,.14), transparent 55%),
            var(--bg);
}
